<div class="inner_page">
  <div class="signup">
    <h1><%= t "new_review" %></h1><br>
    <%= form_for Review.new do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="form-group">
        <%= f.text_field :title, placeholder: t("title"), class: "input-text" %>
        <%= f.hidden_field :book_id, value: @book_id, class: "input-text" %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      <div class="form-group">
        <%= f.text_area :content, placeholder: t("content"), class: "area-text" %>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-submit">
          <%= t "create_review" %></button>
      </div>
    <% end %>
  </div>
</div>
